:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.header-color {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background-image: url("./img/altumcode.jpg") ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  bottom: 0;
  margin: 0;
  padding: 0 !important;
  height: auto;
  width: auto;
  /* min-width: 1024px; */
  min-height: 100%;
  overflow: hidden;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: auto;
}

@media screen and (min-width: 841px) { 
  .landing-grid {
    /* left: 50%; */
    position: relative;
    display: grid;
    bottom: 0;
  }
}

.resume-right {
  background: #3d3d3d;
  color: white;
  padding: 2em;
}

.mdl-layout__drawer-button {
  position: absolute;
  color: rgb(255,255,255);
  background-color: transparent !important;
}

.banner-text {
  background-color: #3D3D3D;
  color: whitesmoke;
  font-family: 'Oxygen', sans-serif;
  opacity: .8;
  min-width: fit-content;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
}

.banner-text h1 {
  color: white;
  font-size: 25px;
  font-family: 'Oxygen', sans-serif;
  opacity: .8;
  font-weight: bold;
  text-align: center;
}

.avatar-image {
  border-radius: 50%;
  -moz-background-clip: padding; 
  background-clip: padding-box;
  padding-top: 1rem;
  height: 15rem;
  width: 15rem;
}

.list-items {
  padding-top: 0px;
  color:honeydew;
  font-size: 20px;
  font-family: monospace;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
}

.list-item-cont {
  line-height: 1em;
  color: honeydew;
  font-family: monospace;
  font-size: 25px;
  font-style: oblique;
  text-align: left;
}

.contact-list {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  font-weight: bolder;
  top: 0%;
  display: block;
  width: 90%;
}

.social-links {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 2em;
  margin-top: 5px;
  padding: 3px;
  width: 100%;
  margin: auto;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
}

.project-card {
  min-width: 320px;
  margin: 5px 5px;
  padding-bottom: 1rem;
}

.progressbar {
  color: 'black';
  background-color: #565656 !important;
  font-family: 'Oxygen', sans-serif;
}

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  padding-top: 3em;
  position: relative;
}

.contact-grid {
  text-align: center; 
  justify-content: center;
  width: 90%;
  height: 550px;
  background: white;
  margin-bottom: auto;
  top: 0%;
  bottom: 0%;
  height: 100%;
  position: flex;
}

.contact-grid h3 {
  font-family: 'Oxygen', sans-serif;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.profile-pic {
  background: url('./img/img.jpg') no-repeat;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 3px;
  height: 60vh;
  width: 45vh;
  min-width: 100%;
  max-height: fit-content;
}

.App {
  position: relative;
  min-height: 100vh;
  margin: 0;
}

.page-content {
  padding-bottom: 3.5rem;
}

#footer {
  position: bottom;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #434343, #000000, #434343);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #434343, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  color: white;
  width: 100%;
  height: -3.5rem;
  bottom: 0;
}

ul.mdl-list {
  padding-top: 0;
}

@media screen and (max-width: 588px) {
  .mdl-layout__header .mdl-navigation {
    display: none;
  }
}

input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type="submit"],
button {
  font: inherit;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}
